<div class="d-flex mt-5">
  <div class="container w-50">
    <form #getInput="ngForm" (ngSubmit)="addToForm(getInput)">
      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Input Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputName"
          name="name"
          required
          #inputName="ngModel"
          [class.is-invalid]="inputName.invalid && submitted"
          ngModel
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputType1" class="form-label">Input Type</label>
        <select
          class="form-select"
          aria-label="Default select example"
          id="exampleInputType1"
          name="type"
          required
          #type="ngModel"
          [class.is-invalid]="type.invalid && submitted"
          ngModel
        >
          <option *ngFor="let option of options" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div
        class="mb-3"
        *ngIf="
          getInput.value.type == 'checkbox' || getInput.value.type == 'radio'
        "
      >
        <div>
          <div class="d-flex">
            <label for="exampleInputOptions3" class="form-label">Options</label>
          </div>
          <input
            type="text"
            class="form-control"
            id="exampleInputOptions3"
            name="option"
            ngModel
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="container w-50 border-start border-dark">
    <form [formGroup]="GenaratedForm" (ngSubmit)="record()">
      <div *ngFor="let input of formArray; index as i">
        <div *ngIf="input.type == 'text' || input.type == 'number'">
          <label [for]="input.name" class="form-label">{{ input.name }}</label>
          <input
            [type]="input.type"
            [name]="input.name"
            [id]="input.name"
            class="form-control"
            [formControlName]="input.name"
          />
        </div>
        <div *ngIf="input.type == 'checkbox'" [formGroupName]="input.name">
          {{ input.name }}
          <div class="d-flex justify-content-around">
            <div *ngFor="let option of input.option; index as j">
              <input
                class="form-check-input me-2"
                type="checkbox"
                [value]="option"
                id="flexCheckDefault{{j}}"
                formControlName="{{option}}"
              />
              <label class="form-check-label" for="flexCheckDefault{{j}}">
                {{ option }}
              </label>
            </div>
          </div>
        </div>
           <div *ngIf="input.type == 'radio'">
          {{ input.name }}
          <div class="d-flex justify-content-around">
            <div *ngFor="let option of input.option; index as j">
              <input
                class="form-check-input me-2"
                type="radio"
                [value]="option"
                id="flexCheckDefault{{j}}"
                [formControlName]="input.name"
              />
              <label class="form-check-label" for="flexCheckDefault{{j}}">
                {{ option }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-secondary mt-3" *ngIf="formArray.length > 0">submit</button>
    </form>
  </div>
</div>
